@import 'tailwindcss';
@import './theme.css';

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.6;
  width: 140px;
}

::selection {
  background-color: var(--primary);
  color: var(--primary-foreground);
}
